
a.tooltip {
  outline: none; 
}
a.tooltip strong {
  line-height: 30px;
  font-size: 1em;
}
a.tooltip:hover {
  text-decoration: none;
} 
a.tooltip span {
  text-align: left;
  font-size: .9em;
  line-height: 1.5;
  z-index: 10;
  display: none; 
  padding: 14px 20px;
  margin-top: -30px; 
  margin-left: 28px;
  width: 300px; 
}
a.tooltip:hover span{
  display: inline;
  position:absolute;
  color:#111;
  border: 1px solid #DCA;
  background:#fffAF0;
}
.callout {
  z-index: 20;
  position: absolute;
  top: 80px;
  border: 0;
  left: -12px;
}    
a.tooltip span
{
  border-radius:4px;
}
